body {
  margin-top: 30px;
  margin-left: 250px;
  background-color: #36384d;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  list-style: none;
  width: 800px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  background: white;
  width: 100%;
}
h1 {
  font-weight: 650;
}

ul {
  list-style: none;
  margin-left: -30px;
  font-size: 17px;
}

.email-input {
  width: 370px;
  font-size: 16px;
  border-radius: 8px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(146, 148, 160);
  font-size: 15px;
  cursor: pointer;
}

#email-input.error {
  border: 2px solid rgb(254, 132, 101);
  background-color: #ffe8de;
}

.email-submit {
  width: 370px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  appearance: none;
  border: unset;
  background-color: rgb(54, 56, 78);
  color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.email-submit:hover {
  background: linear-gradient(to right, rgb(244, 62, 132), rgb(255, 98, 87));
}
.mobile {
  display: none;
}

.desktop {
  width: 300px;
  margin-right: 20px;
}

.alert {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
  bottom: -15px;
}

#success-container {
  display: none;
}

.text-danger {
  position: relative;
  left: 100px;
}

.success-container {
  width: 487px;
  height: 450px;
  margin-left: 140px;
  margin-top: 90px;
  border-radius: 36px;
  background: white;
}

h3 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
  padding-left: 10px;
  color: #242742;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  padding-left: 10px;
  padding-right: 10px;
  color: #242742;
}

#dismiss-button {
  width: 387px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  appearance: none;
  border: unset;
  background-color: rgb(54, 56, 78);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
  margin-left: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: none;
}
#dismiss-button:hover {
  background: linear-gradient(to right, rgb(244, 62, 132), rgb(255, 98, 87));
  box-shadow: rgba(255, 98, 87, 0.5) 0px 15px 30px;
}

@media (max-width: 767px) {
  body {
    padding: 0;
    margin: 0;
  }
  .container {
    border-radius: 20px;
    padding: 0;

    background: white;
    width: 100%;
  }
  .mobile {
    display: block;
    margin: 0;
  }
  .desktop {
    display: none;
  }
  .containe {
    flex-direction: column;
  }
}
