body {
  margin-top: 30px;
  margin-left: 250px;
  background-color: #36384d;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  list-style: none;
  width: 800px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  background: white;
  width: 100%;
}
h1 {
  font-weight: 650;
}

ul {
  list-style: none;
  margin-left: -30px;
  font-size: 17px;
}

.email-input {
  width: 90%;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(146, 148, 160);
}

.email-input:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(146, 148, 160);
}

.email-submit {
  width: 90%;
  background-color: #36384d;
  padding: 15px;
  color: white;
  transition: 200ms all ease-in-out;
  border: 1px solid #36384d;
}

.email-submit:hover {
  background: linear-gradient(to right, rgb(244, 62, 132), rgb(255, 98, 87));
  border: 1px solid rgb(255, 98, 87);
}
.mobile {
  display: none;
}

.desktop {
  width: 300px;
  margin-right: 20px;
}

.alert {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}

#success-container {
  display: none;
}
