body {
  margin-top: 30px;                                   
  margin-left: 250px;
                       
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  list-style: none;
  width: 800px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  background: white;
  width: 100%;
}
h1 {
  font-weight: 650;
}

ul {
  list-style: none;
  margin-left: -30px;
  font-size: 17px;
}

.email-input {
  width: 70%;
  padding: 5px 8px;
}

.email-submit {
  width: 70%;
  padding: 5px 8px;
  color: white;
  background: rgb(19, 26, 38);
}

.mobile {
  display: none;
}

.desktop {
  width: 300px;
  margin-right: 20px;
}

.alert {
  margin-left: 10px;
}
